body{
    background-color: aquamarine;
    display: grid;  
    place-items: center;
    margin-top: 60px;
    
}

h1{
    font-size: 4rem;
    font-family: cursive;
}

h2{
    font-size: 2.5rem;
}

.guess{
    width: 20%;
    height: 35px;
    border-radius: 12px;
    border: none;
}

button {
    margin-top: 50px;
    padding: 10px 20px;  
    border-radius: 8px;  
    border: 1px solid #ffffff;  
    background-color: #000000;  
    color: white;  
    font-size: 16px;  
    cursor: pointer;  
    transition: all 0.3s ease;  
}

button:hover {
    background-color: #414141;  
    border-color: #060606;  
}

p{
    margin-top: 10%;
}